h2 {
  color: #fff;
}
input.form-control[type="text"] {
  background: #fff;
  color: #232323;
  border: 2px solid #ccc;
  box-shadow: none;
}
.rzm-section {
  padding: 0 15px 15px;
}
.rzm-section hr {
  border-top: 1px solid #ccc;
}

.main-container-header {
  background: #116A8C;
  border-top: 5px solid #112233;
}
.main-container-header .user-info h1 {
  font-family: 'destroyregular', "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-size: 30px;
}
.main-container-header h2 {
  font-family: 'source sans pro';
  font-weight: 200;
  color: #fff;
}
.main-sub-nav-wrapper {
  background: #082837;
  border: 5px solid #112233;
  border-left: none;
  border-right: none;
}
.status-wrapper {
  display: none;
}
.league-details, .payment-details, .league-settings {
  margin-bottom: 15px;
}
.league-details .control-label {
  width: 100%
}
.league-details .form-control {
  margin: 10px 0;
}

.league-number {
  font-size: 14px;
}

.league-settings label {
  width: 100%;
}

.lms-section {
  padding: 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px 0px #000,0 0 4px 0px rgba(255, 255, 255, 0.3);
  border: 1px solid #000;
}
.lms-section:first-of-type, .lms-section:nth-of-type(2) {
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .lms-section {
    margin-bottom: 15px;
  }
}

.lms-section.lock-of-the-week {
  background: #00A5D2;
}
.lms-section.upset-special {
  background: #6400C8;
}
.lms-section.survivor {
  background: #E60000;
}
.lms-section.monday-football-at-night {
  background: #663300;
}

.lms-section h3 {
  margin: 5px 0;
  color: #FFF;
  text-shadow: none;
  font-size: 14px;
}
.lms-section h3 span {
  margin-right: 5px;
}
.lms-section .flaticon-american21 {
  font-size: 15px;
}

.lms-section .glyphicon-info-sign {
  position: absolute;
  top: 5px;
  right: 15px;
}

.lms-games input[type="checkbox"] {
  margin: 18px 0 0 5px;
}

.monkey-points p:first-of-type {
  margin: 2px 10px 0 0;
}
.monkey-points p:last-of-type {
  margin: 2px 0 0 10px;
}

.league-type-wrapper {
  display: inline-block;
  padding: 15px;
  background: #232323;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #000, 0 0 1px #AAA;
  overflow: hidden;
  min-width: 260px;
}
.league-type-wrapper > h3 {
  background: #000;
  margin: -15px -15px 15px -15px;
  padding: 15px;
}

.league-type-details {
  list-style: none;
  padding: 0;
  margin: 0 -15px 10px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #333;
}
.league-type-details li {
  border-top: 1px solid #333;
  border-bottom: 1px solid #000;
  padding: 10px;
}
.league-price {
  font-size: 14px;
  background: #000;
  display: inline-block;
  padding: 25px 0;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  color: #FFF;
}
.league-price span {
  font-size: 20px;
}
.league-type-wrapper label.btn {
  display: block;
}
.league-or {
  display: block;
  margin-top: 170px;
  font-size: 30px;
  font-weight: bold;
  color: #000;
  background: #232323;
  border-radius: 20%;
  box-shadow: inset 0 0 5px #000, 0 0 2px #aaa;
}
.save-button {
  text-align: right;
}

.select2-container.form-control {
  padding: 10px;
  min-height: 55px;
  height: auto;
}
.select2-container-multi.form-control .select2-choices {
  border: none;
  background: none;
}
.select2-container-multi.form-control .select2-choices .select2-search-field {
  width: 100%;
}


@media (max-width: 500px) {
  #commissioner-panel.bg-tweed {
    padding: 0;
    background: none;
  }
  table {
    font-size: 10px;
  }
  .page-header {
    margin: 10px 0;
  }
  .page-header h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 18px;
  }
  .league-actions,.save-button {
    text-align: center;
  }
  .league-actions button {
    width: 100%;
  }
}
