body {
  background: #131313;
}

hr {
  border-color: #000;
  box-shadow: 0 1px #232323;
}

h1 {
  font-weight: 300;
}

h2 {
  font-family: 'source sans pro';
  font-weight: 200;
  color: #fff;
}
h3 {
  font-family: 'source sans pro';
  font-weight: 700;
  color: #fff;
}

.main-container-header {
  background: #157752;
  border-bottom: 5px solid #054422;
  border-top: 5px solid #054422;
}

.use-free-pass {
  margin-top: 20px;
}

#player-select {
  width: auto;
}
.options-wrapper select {
  margin-right: 10px;
}

.league-players-wrapper {
  padding-bottom: 30px;
}

.league-players-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.league-player-avatar-wrapper {
  display: inline-block;
  width: calc(10% - 4px);
  padding: 15px;
  position: relative;
}

.league-player-avatar-wrapper a {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #232323;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
.league-player-avatar-wrapper.active a, .league-player-avatar-wrapper:hover a {
  border-color: #fff;
}
.league-player-avatar-wrapper.active:after {
  content: "";
  position: absolute;
  bottom: -23px;
  left: 49%;
  border: 2px dotted #fff;
  height: 30px;
}

.img-league-player {
  width: 100%;
}

.player-wrapper {
  padding: 10px 10px 5px 10px;
  /*min-width: 645px;*/
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-bottom: 0;
}
.dashboard-wrapper:not(.my-dashboard) {
  display: none;
}
.dashboard-wrapper:first-of-type .player-wrapper {
  background: url('../images/backgrounds/gold-texture-2-brushed.jpg') 0 0 no-repeat;
  background-size: 100% 100%;
  border: 1px solid #ffc888;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.5),0px 0px 10px 1px rgba(255, 200, 136, 0.7);
}

.player-wrapper .player-position {
  display: block;
  position: absolute;
  text-align: right;
  right: 5px;
  bottom: 0;
  font-size: 55px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1em;
  color: #272B30;
  text-shadow: 0 0 2px #AAA;
}
.player-wrapper .position-superscript:after {
  content: "TH";
  font-size: 15px;
  line-height: 35px;
  vertical-align: top;
}

.dashboard-wrapper:first-of-type .position-number:after {
  content: "1";
  color: #1a1a1a;
}
.dashboard-wrapper:first-of-type .position-superscript:after {
  content: "ST";
}

.dashboard-wrapper:nth-of-type(2) .position-number:after {
  content: "2";
}
.dashboard-wrapper:nth-of-type(2) .position-superscript:after {
  content: "ND";
}

.dashboard-wrapper:nth-of-type(3) .position-number:after {
  content: "3";
}
.dashboard-wrapper:nth-of-type(3) .position-superscript:after {
  content: "RD";
}

.dashboard-wrapper:nth-of-type(4) .position-number:after {
  content: "4";
}
.dashboard-wrapper:nth-of-type(5) .position-number:after {
  content: "5";
}
.dashboard-wrapper:nth-of-type(6) .position-number:after {
  content: "6";
}
.dashboard-wrapper:nth-of-type(7) .position-number:after {
  content: "7";
}
.dashboard-wrapper:nth-of-type(8) .position-number:after {
  content: "8";
}
.dashboard-wrapper:nth-of-type(9) .position-number:after {
  content: "9";
}
.dashboard-wrapper:nth-of-type(10) .position-number:after {
  content: "LAST";
  font-size: 25px;
  bottom: 3px;
  color: #C60000;
  text-shadow: 0 -1px 3px #000, 1px 0 3px #000,0 1px 3px #000,-1px 0 3px #000;
}
.dashboard-wrapper:nth-of-type(10) .position-superscript:after {
  content: "";
}

.game-scores p {
  font-size: 1em !important;
}
p.game-time {
  border-bottom: 1px solid #fff !important;
  font-size: 14px;
  font-weight: bold;
}
.game-score-team.dashed-border {
  border-bottom: 1px dashed #999 !important;
}
.game-score-pq {
  background: #034;
  text-shadow: 0 1px 1px #000;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 2px 4px;
}
.player-wrapper .pqt-wrapper {
  display: block;
}

.player-details-wrapper {
  margin: 0 15px 15px;
  padding: 15px;
  background: #393939;
  border: 1px solid #333;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 5px #000;
}
.show-player-details {
  display: block;
  text-align: center;
  color: #fff;
  position: relative;
  margin: 0 auto;
  width: 150px;
}
.show-player-details:hover {
  color: #ddd;
}
.show-player-details:before, .show-player-details:after {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  width: 14px;
  height: 14px;
}
.show-player-details:before {
  top: 3px;
  left: -10px;
}
.show-player-details:after {
  top: 3px;
  right: -10px;
}
.show-player-details.closed:before, .show-player-details.closed:after {
  content:"\e114";
}
.show-player-details.open:before, .show-player-details.open:after {
  content:"\e113";
}


.player-details {
  display: none;
  margin-bottom: 15px;
}
.player-details h4 {
  text-shadow: none;
  color: #fff;
}

.free-pass-wrapper p {
  margin: 10px 10px 0 0;
}
.list-group {
  padding: 0;
}
.list-group-item {
  padding: 0;
}
.lms-section {
  padding: 15px;
}

.lms-section h3 {
  margin: 5px 0;
  color: #FFF;
  text-shadow: none;
  font-size: 16px;
}
.lms-section h3 span {
  margin-right: 5px;
}
.lms-section h3 .label {
  padding-top: .3em;
}
/*.lms-section.lock-of-the-week h3 {*/
  /*color: #1369bf;*/
/*}*/
/*.lms-section.upset-special h3 {*/
  /*color: #6400C8;*/
/*}*/
/*.lms-section.survivor h3 {*/
  /*color: #ff9d00;*/
/*}*/
/*.lms-section.monday-football-at-night h3 {*/
  /*color: #663300;*/
/*}*/
.lms-section .flaticon-american21 {
  font-size: 15px;
}
.lms-section .helmet-wrapper {
  max-width: 100px;
  width: 20% !important;
  display: inline-block;
  margin: 10px 0 !important;
  padding: 3% 2% !important;
}
.lms-section .game-scores {
  display: inline-block;
  width: calc(80% - 10px);
  margin-left: 10px;
  min-height: 102px;
}
.lms-section.lock-of-the-week {
  background: #1369bf;
}
.lms-section.upset-special {
  background: #6400C8;
}
.lms-section.survivor {
  background: #ff9d00;
}
.lms-section.monday-football-at-night {
  background: #663300;
}

/*.dashboard-wrapper .helmet-wrapper {*/
  /*padding: 20px 10px;*/
  /*width: 75%;*/
/*}*/
.lms-section .helmet-wrapper {
  width: 20%;
}
.ytd-stat {
  margin: 30px 0;
}
.ytd-stat .img-wrapper {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  background: rgb(255,255,255);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  padding: 4px 5px 0;
  color: #232323;
  font-size: 18px;
  box-shadow: 0 0 1px 1px #000, inset 0 0 1px #333;
}
.ytd-stat h3 {
  text-transform: uppercase;
  font-size: 16px;
  margin: 6px 10px 20px;
}
.ytd-stat p {
  color: #fff;
  font-size: 60px;
  font-weight: 200;
  font-family: 'source sans pro';
  line-height: 30px;
}

.lms-out {
  display: inline-block;
  background: #232323;
  border-radius: 50%;
  width: 100px;
  padding: 35px 0;
  margin: 10px 0;
}
.lms-out p {
  font-size: 20px;
  text-transform: uppercase;
  color: #F00;
  font-weight: bold;
  margin: 0;
}

.btn-edit-images, .btn-status {
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0, 0, 0, 0.5);
  border-color: rgba(0,0,0,0);
  outline: 0 0 1px 1px #000;
  color: #FFF;
  border-radius: 50%;
  outline: none;
}
.btn-edit-images:hover, .btn-status:hover {
  background: #232323;
  border-color: #fff;
}
.btn-status {
  padding: 3px 9px;
}
.btn-status.unread {
  -webkit-animation: unreadStatus 1.5s ease-in-out 0 infinite; /* Safari 4+ */
  -moz-animation:    unreadStatus 1.5s ease-in-out 0 infinite; /* Fx 5+ */
  -o-animation:      unreadStatus 1.5s ease-in-out 0 infinite; /* Opera 12+ */
  animation:         unreadStatus 1.5s ease-in-out 0 infinite; /* IE 10+ */
}

@-webkit-keyframes unreadStatus {
  0%   { box-shadow: 0 0 10px 1px #000; }
  50% { box-shadow: 0 0 10px 1px #f00; }
  100% { box-shadow: 0 0 10px 1px #000; }
}
@-moz-keyframes unreadStatus {
  0%   { box-shadow: 0 0 10px 1px #000; }
  50% { box-shadow: 0 0 10px 1px #f00; }
  100% { box-shadow: 0 0 10px 1px #000; }
}
@-o-keyframes unreadStatus {
  0%   { box-shadow: 0 0 10px 1px #000; }
  50% { box-shadow: 0 0 10px 1px #f00; }
  100% { box-shadow: 0 0 10px 1px #000; }
}
@keyframes unreadStatus {
  0%   { box-shadow: 0 0 10px 1px #000; }
  50% { box-shadow: 0 0 10px 1px #f00; }
  100% { box-shadow: 0 0 10px 1px #000; }
}

#edit-images-modal .profile-image {
  width: 100%;
}
.profile-image-wrapper {
  position: relative;
  max-width: 200px;
  text-align: center;
  margin: 15px auto;
}
.upload-image-label {
  margin-top: 5px;
  width: 100%;
}
#game-face-upload,#winning-face-choose, #winning-face-upload {
  display: none;
}
.winning-face-wrapper p {
  margin: 10px 0 0;
}
