#edit-profile, #edit-account-settings {
  padding: 15px;
}

.main-container-header .game-face-wrapper {
  max-width: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 30px;
  position: relative;
}

.main-container-header .game-face-image {
  width: 100%;
}

.btn-edit-images {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 40px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.75);
}
.game-face-wrapper:hover .btn-edit-images {
  display: block;
}

.user-info h1 {
  font-weight: 100;
  margin-top: 15px;
}

.leagues-wrapper {
  display: none;
}
.btn-join-league {
  margin-top: 15px;
}
#my-leagues {
  padding: 15px;
}
.leagues-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.league-item {
  background: #232323;
  border-radius: 10px;
  margin-bottom: 10px;
}
.league-item:last-of-type {
  margin-bottom: 0;
}
.league-item .league-icon {
  font-size: 30px;
  margin: 20px;
}
.league-info h3 {
  margin: 15px 0 5px;
}
.btn-leave-league {
  margin: 21px;
}

#edit-images-modal .profile-image {
  width: 100%;
}
.profile-image-wrapper {
  position: relative;
  max-width: 200px;
  text-align: center;
  margin: 15px auto;
}
.upload-image-label {
  margin-top: 5px;
  width: 100%;
}
#game-face-upload,#winning-face-choose, #winning-face-upload {
  display: none;
}
.winning-face-wrapper p {
  margin: 10px 0 0;
}
