#25A000/* Colors

    gray      : #272B30 - dark text color
    red       : #C60000 - losing
    green     : #25A000 - winning
    blue      : #0088FF - active links
    dark_blue : #0055FF - tied
    gold      : #FFD700 - 1st place

*/

/* Z-Index

    .loading: 10

*/



html, body, #main-wrapper {
  height: 100%;
}

body {
  background-color: #272B30;
/*  background-image: url('../images/backgrounds/carbon_fibre.png');*/
  background-image: url('../images/backgrounds/dark_brick_wall.png');
  padding-top: 50px;
}

.loading {
  position: relative;
  display: block;
  background: black;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.loading-image {
  width: 50%;
  max-width: 1250px;
  margin: 0 auto;
  display: block;
}

.mobile-show {
  display: none;
}

/*
  Bootstrap Override
*/

.caret {
  margin-left: 5px;
}

.dropdown-menu > li > a {
  padding: 10px 20px;
}

.dropdown-menu > .active > a {
  color: #0088FF;
}

.dropdown-menu > .active > a:hover {
  color: #0088FF;
  text-decoration: underline;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;right:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.dropdown-menu .divider {
  margin: 5px 0;
/*  background-color: #333;*/
}

.navbar-nav > li > a {
  font-weight: bold;
  text-shadow: 0px 1px 1px #000;
}

.navbar-toggle {
  border: 1px solid #000;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5);
}

.navbar-toggle .icon-bar {
  background: #000;
  box-shadow: 1px 1px 1px #666;
}

@media (max-width: 900px) and (min-width: 768px) {
  .nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}



/*
  END Bootstrap Override
*/

.navbar-brand .logo {
  width: 130px;
  max-width: 130px;
}

.avatar-wrapper {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  margin-top: -9px;
}

img.avatar {
  width: 100%;
}

/* Placement Line */
#placement-line {
  width: 90%;
  max-width: 2000px;
  margin: 10px auto;
}

.placement-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.placement-item {
  width: 10%;
  overflow: hidden;
}

.placement-item .img-player {
  width: 100%;
}

/* Player Box */

#players-wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/* Position absolutely so it's easier to animate and can order then vertically rather than ltr */

.player-wrapper {
  background-image: url('../images/backgrounds/tweed.png');
  width: calc(50% - 30px);
/*  box-shadow: 0px 0px 30px 5px rgba(255, 0, 0, 0.5);*/
  box-shadow: inset 0 0 3px rgba(255,255,255,0.5), 0 0 3px rgba(0,0,0,0.7);
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px 10px 5px 10px;
  margin-bottom: 10px;
  position: absolute;
  min-width: 645px;
  overflow: hidden;
}

.player-wrapper:first-of-type {
  background: url('../images/backgrounds/gold-texture.jpg');
  border: 1px solid #FFD700;
  box-shadow: inset 0 0 3px rgba(255,255,255,0.5),0px 0px 10px 1px rgba(255,215,0,0.7);
}

.player-wrapper .player-position {
  display: block;
  position: absolute;
  text-align: right;
  right: 5px;
  bottom: 0;
  font-size: 55px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1em;
  color: #272B30;
  text-shadow: 0 0 3px #FFF;
}
.player-wrapper .position-superscript:after {
  content: "TH";
  font-size: 15px;
  line-height: 35px;
  vertical-align: top;
}

.player-wrapper:first-of-type .position-number:after {
  content: "1";
  text-shadow: 0 0 5px #FFD700;
}
.player-wrapper:first-of-type .position-superscript:after {
  content: "ST";
  text-shadow: 0 0 5px #FFD700;
}

.player-wrapper:nth-of-type(2) .position-number:after {
  content: "2";
}
.player-wrapper:nth-of-type(2) .position-superscript:after {
  content: "ND";
}

.player-wrapper:nth-of-type(3) .position-number:after {
  content: "3";
}
.player-wrapper:nth-of-type(3) .position-superscript:after {
  content: "RD";
}

.player-wrapper:nth-of-type(4) .position-number:after {
  content: "4";
}
.player-wrapper:nth-of-type(5) .position-number:after {
  content: "5";
}
.player-wrapper:nth-of-type(6) .position-number:after {
  content: "6";
}
.player-wrapper:nth-of-type(7) .position-number:after {
  content: "7";
}
.player-wrapper:nth-of-type(8) .position-number:after {
  content: "8";
}
.player-wrapper:nth-of-type(9) .position-number:after {
  content: "9";
}
.player-wrapper:nth-of-type(10) .position-number:after {
  content: "LAST";
  font-size: 25px;
  bottom: 3px;
  color: #C60000;
  text-shadow: 0 0 3px #000;
}
.player-wrapper:nth-of-type(10) .position-superscript:after {
  content: "";
}

.player-wrapper .player-total-score {
  background: rgba(0, 0, 0, 0.3);
  padding: 0 3px 0 5px;
  border-radius: 0 0 0 9px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.7em;
  box-shadow: inset 2px -2px 3px rgba(0, 0, 0, 0.4), 0px 0px 3px rgba(255, 255, 255, 0.5);
}
.player-wrapper:first-of-type .player-total-score {
/*  background: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4), inset 1px -1px 5px rgba(255, 255, 255, 0.5);*/
  background: rgba(0,0,0,0.7);
}

.player-total-score.score-positive {
  color: #25A000;
}
.player-total-score.score-negative {
  color: #C60000;
}


.player-wrapper p {
  color: #fff;
  font-size: 1.5em;
  margin: 0;
}

.player-info-wrapper {
/*  background: rgba(0,0,0,0.5);*/
  width: calc(20% - 30px);
}

.player-avatar-wrapper {
  width: 100%;
  overflow: hidden;
  border: 1px solid #000;
  position: relative;
  margin-top: 2px;
  box-shadow: inset 2px -2px 3px rgba(0, 0, 0, 0.4), 0px 0px 3px rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.img-player-avatar {
  width: 100%;
}

.player-avatar-wrapper p.player-name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1em;
  word-break: break-word;
  background: rgba(0,0,0,0.5);
}

.player-wrapper-divider {
  height: 100%;
  width: 1px;
  background: #000;
  border-right: 1px solid #222;
}

.player-games-wrapper {
/*  background: rgba(0,0,0,0.5);*/
  width: calc(81% - 30px);
  margin-top: -4px;
}

.player-games-wrapper .game-wrapper {
  width: 20%;
  padding: 0 10px;
  position: relative;
  float: left;
}

.game-wrapper .point-value {
  text-align: right;
  position: absolute;
  top: 0px;
  background: rgba(0, 0, 0, 0.7);
  right: 0;
  padding: 0 3px;
  border-radius: 5px;
}

.winning .point-value {
  color: #25A000;
}

.won .point-value {
  color: #25A000;
}

.losing .point-value {
  color: #C60000;
}

.lost .point-value {
  color: #C60000;
}

.game-wrapper .helmet-wrapper {
  border-radius: 50%;
  background: #FFF;
  padding: 10px;
  border: 2px solid #fff;
  box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.5), 0 0 2px 1px #000;
  -webkit-transition: background-color 500ms linear, border 500ms linear, box-shadow 500ms linear;
  -moz-transition: background-color 500ms linear, border 500ms linear, box-shadow 500ms linear;
  -ms-transition: background-color 500ms linear, border 500ms linear, box-shadow 500ms linear;
  transition: background-color 500ms linear, border 500ms linear, box-shadow 500ms linear;
}

.winning .helmet-wrapper {
  border-color: #25A000;
}

.won .helmet-wrapper {
  background: #25A000;
  border: 5px solid #272B30;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 2px 2px rgba(255, 255, 255, 0.2);
}

.losing .helmet-wrapper {
  border-color: #C60000;
}

.lost .helmet-wrapper {
  background: #C60000;
  border: 5px solid #272B30;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 2px 2px rgba(255, 255, 255, 0.2);
}

.tied_gray .helmet-wrapper {
  background: #676B70;
  border: 5px solid #272B30;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 2px 2px rgba(255, 255, 255, 0.2);
}
.tied_blue .helmet-wrapper {
  background: #005588;
  border: 5px solid #272B30;
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 2px 2px rgba(255, 255, 255, 0.2);
}

.helmet-wrapper img.img-helmet {
  width: 100%;
}

.game-scores {
  background: rgba(0, 0, 0, 0.3);
  padding: 5px;
  border-radius: 3px;
  box-shadow: inset 0 0 5px 0px #000, 0 0 4px 0px rgba(255, 255, 255, 0.3);
  margin-top: 5px;
}

.game-scores p {
  font-size: 1em;
}

.game-scores p:first-of-type {
  border-bottom: 1px dashed #999;
}

.game-scores .spread-value {
  font-size: 0.9em;
}

.player-wrapper:first-of-type .game-scores {
  background: rgba(0, 0, 0, 0.7);
}

.player-wrapper .pqt {
  position: absolute;
  right: 10px;
  top: 45px;
  font-size: 14px;
  text-shadow: 0 1px 1px #000;
  display: none;
  border: 1px solid #000;
}

.player-wrapper.tied .pqt {
  display: block;
}

.player-wrapper.blue_pqt .pqt {
  background: #058;
}





/* END Player Box */


/* Temporary */
.randomize-players {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 5;
}

.player-wrapper.details-left .player-total-score {
  position: relative;
  float: left;
  top: -10px;
  left: -10px;
  border-radius: 0 0 5px 0;
  padding: 0 5px 0 3px;
  margin-right: 5px;
}
.player-wrapper.details-left .player-position {
  left: 4px;
  right: auto;
}
