/* Colors

    gray      : #777B80 - tied background
    dark_gray : #272B30 - dark text color
    red       : #C60000 - losing text
    dark_red  : #960000 - losing background
    green     : #25A000 - winning text
    dark_green: #256A00 - winning background
    blue      : #0088FF - active links
    dark_blue : #0055FF - tied
    gold      : #FFD700 - 1st place

*/

/* Z-Index

    .loading: 10
    .point-value: 1

*/

@import url('../fonts/destroy_regular_macroman/stylesheet.css');
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900);



html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: #272B30;
/*  background-image: url('../images/backgrounds/carbon_fibre.png');*/
  background-image: url('../images/backgrounds/dark_brick_wall.png');
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  text-shadow: none;
}

.loading {
  position: fixed;
  display: block;
  background: black;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.loading-image {
  width: 50%;
  max-width: 1250px;
  margin: 0 auto;
  display: block;
}
.side-nav.left-nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 150px;
  background: #232323;
  height: 100%;
  box-shadow: 3px 0 5px 0px rgba(0,0,0,0.5);
  z-index: 1;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
.side-nav .navbar-brand {
  float: none;
  display: block;
}
.side-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.side-nav-list > li {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}
.side-nav-list > li.active {
  background: rgba(0,0,0,0.4);
}
.side-nav-list > li > a {
  font-size: 14px;
  font-weight: 700;
  font-family: 'source sans pro';
  display: block;
  text-align: center;
  text-decoration: none;
  color: #999;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}
.side-nav-list > li.active > a, .side-nav-list > li:hover > a {
  color: #fff;
}
.side-nav-list > li > a > span.glyphicon {
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
}

.left-nav-tooltip {
  position: absolute;
  left: calc(100% + 10px);
  top: calc(50% - 15px);
  margin: 0;
  background: #363636;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  white-space: nowrap;
  visibility: hidden;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
.left-nav-tooltip:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-right-color: #363636;
  border-width: 6px;
  pointer-events: none;
  top: 10px;
  left: -12px;
}
.left-nav .dropdown-menu {
  top: 0;
  left: 100%;
}

.top-nav {
  background: #131313;
}

.top-nav .navbar-nav > li > a {
  border: none;
  background: none !important;
}
.top-nav .navbar-nav > li > a:hover {
  text-decoration: underline;
}

@media (max-width: 991px) {
  #main-wrapper {
    margin-left: 70px !important;
  }
  .side-nav.left-nav {
    width: 70px;
  }
  .side-nav-list > li > a > span.glyphicon {
    margin-bottom: 2px;
  }
  .side-nav-list > li:hover .left-nav-tooltip {
    opacity: 1;
    left: calc(100% + 20px);
    z-index: 5;
    visibility: visible;
  }
}
@media (max-width: 767px) {
  #main-wrapper {
    margin-top: 50px;
    margin-left: 0 !important;
  }
}

.mobile-show {
  display: none;
}

.bg-navy-blue {
  background: url('../images/backgrounds/navy_blue.png');
}
.bg-mocha-grunge {
  background: url('../images/backgrounds/mochaGrunge.png');
}
.bg-white-brick {
  background: url('../images/backgrounds/brickwall.png');
}
.bg-tweed {
  background: url('../images/backgrounds/tweed.png') !important;
  color: #fff !important;
}

.dark-half-rule {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  border-top: 2px solid #000;
  border-bottom: 1px solid #444;
}
.light-half-rule {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #BBB;
  border-bottom: 1px solid #666;
}

.underline {
  text-decoration: underline;
}

.table {
  color: #fff;
}

.w10 {
  width: 10%;
}
.w90 {
  width: 90%;
}
.w100 {
  width: 100%;
}

/*
  Bootstrap Override
*/
h1,h2,h3,h4,h5,h6 {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}



@media (min-width: 768px) {
  .container {
    /*width: 680px;*/
    width: 100%
  }
}
@media (min-width: 992px) {
  .container {
    width: 830px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1040px;
  }
}
@media (min-width: 1250px) {
  .container {
    width: 1080px;
  }
}


.navbar {
  background: rgb(37,40,43); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI1MjgyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzFkMjAyMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxOTFiMWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(37,40,43,1) 0%, rgba(29,32,35,1) 60%, rgba(25,27,29,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,40,43,1)), color-stop(60%,rgba(29,32,35,1)), color-stop(100%,rgba(25,27,29,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(37,40,43,1) 0%,rgba(29,32,35,1) 60%,rgba(25,27,29,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(37,40,43,1) 0%,rgba(29,32,35,1) 60%,rgba(25,27,29,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(37,40,43,1) 0%,rgba(29,32,35,1) 60%,rgba(25,27,29,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(37,40,43,1) 0%,rgba(29,32,35,1) 60%,rgba(25,27,29,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25282b', endColorstr='#191b1d',GradientType=0 ); /* IE6-8 */

}

.caret {
  margin-left: 5px;
}

.dropdown-menu > li > a {
  padding: 10px 20px;
}

.dropdown-menu > .active > a {
  color: #0088FF;
}

.dropdown-menu > .active > a:hover {
  color: #0088FF;
  text-decoration: underline;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;right:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.dropdown-menu .divider {
  margin: 5px 0;
/*  background-color: #333;*/
}

.navbar-fixed-top {
  margin: 0;
}

.navbar-nav > li > a {
  font-weight: bold;
  text-shadow: 0px 1px 1px #000;
}

.navbar-toggle {
  border: 1px solid #000;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5);
}

.navbar-toggle .icon-bar {
  background: #000;
  box-shadow: 1px 1px 1px #666;
}

.navbar-nav.navbar-right {
  margin-right: 0;
  border-left: 1px solid #232323;
  box-shadow: 0 0 1px #000;
}

@media (max-width: 900px) and (min-width: 768px) {
  .nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.page-header {
  margin: 20px 0;
  border: none;
}

label {
  font-weight: normal;
}
.control-label {
  font-weight: bold;
}

.list-group {
  overflow: hidden;
  border-radius: 10px;
}

/*
  END Bootstrap Override
*/

#main-container {
  position: relative;
  z-index: 0;
}

#main-wrapper {
  margin-left: 150px;
  position: relative;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

input.form-control[type="email"], input.form-control[type="password"], input.form-control[type="text"], textarea.form-control, .select2-container.form-control {
  background: #232323;
  padding: 15px;
  border-radius: 20%;
  border: 2px solid #000;
  color: #fff;
  box-shadow: inset 0 0 3px 0px rgba(255, 255, 255, 0.3), 0 0 3px rgba(0, 0, 0, 0.5);
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}
@media (max-width: 400px) {
  input.form-control[type="email"], input.form-control[type="password"], input.form-control[type="text"], textarea.form-control, .select2-container.form-control {
    padding: 10px;
  }
}
input.form-control[type="email"]:focus, input.form-control[type="password"]:focus, input.form-control[type="text"]:focus, textarea.form-control:focus, .select2-container.form-control:focus {
  outline: none;
  box-shadow: 0 0 3px 0px rgba(255, 255, 255, 0.3), inset 0 0 3px rgba(0, 0, 0, 0.5);
  border: 2px solid #000;
}
.navbar-brand .logo {
  width: 100%;
  max-width: 130px;
}
@media (min-width: 768px) {
  .navbar-brand {
    padding: 30px 10px;
    height: 80px;
  }

  .navbar-nav > li > a {
    text-align: center;
    font-weight: 200;
  }
  .navbar-nav > li > a > .glyphicon {
    display: block;
    margin-bottom: 5px;
    font-size: 2em;
  }
  .navbar-nav .no-icon {
    padding: 32px 10px;
  }
}
@media (max-width: 767px) {
  .navbar-nav > li > a > .glyphicon {
    margin-right: 5px;
  }
}

.countdown-wrapper {
  padding: 20px;
}
.countdown-wrapper p {
  margin: 0;
}
.countdown-wrapper .glyphicon-time {
  font-size: 40px;
  margin-right: 15px;
}
@media (max-width: 767px) {
  .countdown-wrapper .glyphicon-time {
    font-size: 20px;
  }
}
#countbox1 {
  float: left;
}
#countbox1 > p {
  float: left;
  margin: 0 10px 0 0;
  font-family: 'source sans pro';
}
#countbox1 > p > span {
  display: block;
  font-size: 24px;
  text-align: center;
  line-height: 24px;
}
.deadline-type {
  text-transform: uppercase;
  font-weight: bold;
}
.deadline-type.green {
  color: #0f0;
}
.deadline-type.red {
  color: #f00;
}
.avatar-wrapper {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  margin-top: -9px;
}

img.avatar {
  width: 100%;
}

.text-align-center {
  text-align: center;
}

.rzm-section {
  color: #232323;
  box-shadow: inset 0 0 3px rgba(255,255,255,0.5), 0 0 3px rgba(0,0,0,0.7);
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 0 0 15px 0;
  background: rgb(238,238,238);
}
.rzm-section hr {
  box-shadow: 0 1px 1px #fff;
}
.rzm-section header {
  margin: 0 -15px 15px -15px;
  padding: 0 15px 10px;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid #999;
  background: rgb(238,238,238);
  background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1)));
  background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
  background: -o-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
  background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
  background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
}
.rzm-section header > h3 {
  color: #232323;
  text-shadow: 1px 1px 1px #fff;
}
.rzm-section header > h3 .label {
  text-shadow: none;
}

/* Placement Line */
#placement-line {
  width: 90%;
  max-width: 2000px;
  margin: 10px auto;
}

.placement-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.placement-item {
  width: 10%;
  overflow: hidden;
}

.placement-item .img-player {
  width: 100%;
}

/* Page headers */

.main-container-header {
  padding: 30px 0;
  /*background: #511;*/
  color: #FFF;
  position: relative;
  /*z-index: -1;*/
  /*border-top: 5px solid #211;*/
  background: rgb(51, 51, 51);
  border-bottom: 5px solid rgb(153, 17, 17);
  border-top: 5px solid rgb(153, 17, 17);
  box-shadow: rgb(0, 0, 0) 0px 0px 5px 3px;
  z-index: 1;
}
.main-container-header h2 {
  margin-top: 15px;

  color: #111;
  font-weight: 500;
  text-shadow: 1px 1px 1px #484848;
  font-size: 40px;
}
@media (max-width: 655px) {
  .main-container-header {
    padding: 5px 0;
  }
}

.main-sub-nav-wrapper {
    padding: 10px 0;
    background: #311;
    margin-bottom: 15px;
  border: 5px solid #211;
  border-left: none;
  border-right: none;
}

.main-sub-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-sub-nav > ul > li {
    display: inline-block;
    font-size: 16px;
    padding: 0 10px;
    border-right: 1px solid #BBB;
}
.main-sub-nav > ul > li:last-of-type {
    border-right: none;
}
.main-sub-nav > ul > li > a {
    color: #BBB;
    -webkit-transition: color 300ms ease-in-out;
    -moz-transition: color 300ms ease-in-out;
    -ie-transition: color 300ms ease-in-out;
    -o-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}
.main-sub-nav > ul > li > a:hover {
    color: #fff;
}
.main-sub-nav > ul > li.active > a {
    color: #fff;
}
.league-name-wrapper {
  margin-left: 20px;
}
.league-name {
  color: #fff;
  font-family: 'destroyregular', "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: 3px 4px 2px #000;
}

.options-wrapper {
  padding-top: 15px;
}

@media (max-width: 767px) {
  .options-wrapper {
    float: none;
    width: 100%;
  }
  .options-wrapper > * {
    width: 100% !important;
    margin: 0 0 10px 0 !important;
  }
  .options-wrapper .btn-group label {
    width: 50%;
  }
}

#week-select {
  width: 100px;
}

/* Scoreboard */

.sortable {
  cursor: move;
}

.sortable-placeholder {
  display: inline-block;
  margin-right: 10px;
  width: 125px;
  height: 1px;
}

.scoreboard {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #dfdfdf;
  z-index: 10;
  box-shadow: 0 0 10px 5px #000;
  border-top: 1px solid #fff;
  overflow: auto;
  overflow-x: scroll;
}
.btn-hide-scoreboard {
  position: absolute;
  top: -15px;
  right: 10px;
  border-radius: 5px 0 0 5px;
  background: #fff;
  text-align: center;
  color: #232323;
}
.scoreboard-list {
  margin: 0;
  padding: 10px;
  list-style: none;
  white-space: nowrap;
}
.scoreboard-item {
  display: inline-block;
  width: 125px;
  background: #fff;
  -webkit-box-shadow: 0 0 1px 0px #aaa;
  box-shadow: 0 0 1px 0px #aaa;
  padding: 10px;
  margin: 0 10px 0 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #000;
}
.scoreboard-header {
  text-align: center;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
.scoreboard-team {
  margin: 0;
}
.scoreboard-team {
  border-bottom: 1px dashed #ccc;
}
.scoreboard-team:last-of-type {
  border: none;
}
.scoreboard-team.home-team {
  font-weight: bold;
}

/* END Scoreboard */



/* Footer */
.main-footer .container {
  /*background: rgba(40,40,40,0.5);*/
  padding: 15px;
}

.footer-nav a:not(:last-of-type) {
  border-right: 1px solid #fff;
  padding-right: 10px;
  margin-right: 5px;
}

@media (max-width: 400px) {
  .main-footer {
    text-align: center;
  }
  .footer-logo.pull-left {
    float: none !important;
  }
  .footer-details.pull-right {
    float: none !important;
  }
  .footer-nav a {
    display: block;
    margin: 5px 0 !important;
    padding: 0 !important;
    border: none !important;
  }
}
