@media (max-width: 1560px) {
  .game-scores p {
    font-size: 0.8em;
  }
}

@media (max-width: 1365px) {
  .player-wrapper {
    float: none;
    margin: 10px auto;
    position: relative;
    top: 0 !important;
    left: 0 !important;
  }
}

/* Mobile */
@media (max-width: 655px) {
  .mobile-show {
    display: initial;
  }
  #main-container {
    padding: 0 10px;
  }

  .player-wrapper {
    width: 100%;
    min-width: 100%;
    padding: 5px;
  }

  .player-wrapper .player-position {
    text-align: left;
    left: 5px;
    top: -2px;
    line-height: 18px;
    width: 40px;
    position: relative;
    float: left;
  }
  .player-wrapper .position-number:after {
    font-size: 30px;
  }
  .player-wrapper:nth-of-type(10) .position-number:after {
    position: relative;
  }
  .player-wrapper .position-superscript:after {
    line-height: 28px;
    margin-left: 2px;
  }

  .player-wrapper .player-total-score {
    background: rgba(0, 0, 0, 0.3);
    padding: 3px 5px 0 5px;
    top: 0;
    right: 0;
    font-size: 1.7em;
    height: 100%;
    border-radius: 0;
  }

  .player-wrapper .pqt {
    top: 10px;
    right: 60px;
  }

  .player-info-wrapper {
    margin-left: 40px;
    width: calc(80% - 30px);
    min-width: 200px;
  }

  .player-avatar-wrapper {
    float: left;
    width: 30px;
    margin-right: 10px;
  }

  .player-avatar-wrapper p.player-name {
    display: none;
  }

  .player-wrapper p.player-name.mobile-show {
    float: left;
    font-size: 1em;
    line-height: 30px;
    max-width: 80%;
    overflow: auto;
    white-space: nowrap;
  }
  .player-wrapper:first-of-type p.player-name.mobile-show {
    color: #272B30;
    font-weight: bold;
  }

  .player-games-wrapper {
    display: none;
  }
}
